<!-- sidebar -->
<div
  id="sidebar-menu"
  class="w-52 h-screen  text-[#162f2a] fixed left-0 hidden overflow-auto scroll-m-0 z-30 pt-4 md:block md:bg-[#EFEFEF] bg-[#006A57]"
>
  <!-- Sidebar content goes here -->
  <h2 class="text-2xl pl-5 text-left md:text-black text-white font-semibold mb-4">
    <%=data[0].topic %>
  </h2>
  <ul class="text-center p-0 overflow-x-hidden">
    <% data.forEach(function(item) { %>
      
    <li id="" class="hover:bg-[#006A57] my-2">
      
        <a href="<%= item.url %>" class="md:text-[#006A57] text-[#ffffff]  py-1 pr-60 pl-5 font-custome  text-[18px] hover:text-white"
          ><%= item.title %></a
        >
      
    </li>
    <% }); %>
   
  </ul>
  
</div>
